@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.img-thumbnail {
    object-fit: cover;
}

.rounded-circle {
    object-fit: cover;
}